<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title | escape }}</title>

    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main_style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-override.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.css">
</head>
