<div *ngIf="configurationLoaded | async" class="body">

    <!-- Navigation Header -->
    <resume-header [data]="data" *ngIf="data"></resume-header>

    <div class="col-md-2">
        <!-- Stackoverflow -->
        <resume-stackoverflow [data]="data['stackoverflow']" *ngIf="data['stackoverflow']"></resume-stackoverflow>

        <!-- Expertise -->
        <resume-expertise [data]="data['expertise']" *ngIf="data['expertise']"></resume-expertise>
    </div>

    <div class="col-md-10">
        <!-- Introduction -->
        <resume-introduction [data]="data['introduction']" *ngIf="data['introduction']"></resume-introduction>

        <!-- Experience -->
        <resume-experience [data]="data['experiences']" *ngIf="data['experiences']"></resume-experience>

        <!-- Education -->
        <resume-education [data]="data['education']" *ngIf="data['education']"></resume-education>

        <!-- GitHub Repositories -->
        <resume-vchs-github [data]="data['github']" *ngIf="data['github']"></resume-vchs-github>

        <!-- Additional Information -->
        <resume-additional [data]="data" *ngIf="data['additionalinfo']"></resume-additional>
    </div>
    <div style="text-align: center;" [innerHTML]="data['created-by']" *ngIf="data['created-by']">&nbsp;</div>
</div>
